
/* navigation style */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: #2F303A;
   color: white;
    font-family: 'Poppins', sans-serif;
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
} 

nav{
    height: 10vh;
    
}
.nav-links{
    display: flex;
    list-style-type: none;
    width: 50%;
    /* font-size: 50px; */
    font-family: 'Poppins', sans-serif;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
   
}
hr{
  height:2px;
  width: 100px;
  align-self:center;
  background-color:#EF5F25;
}
.nav-links li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.nav-links li a:hover
{
    color: #EF5F25;
    position: relative;
    top: 3px;

}
.logo{
    float: left;
}

 .brand{
       text-decoration: none;
    font-size: 16px;
    color: white;
    list-style-type: none;
 }
 .brand:hover
 {
     color: white;
     text-decoration: none;
 }
 
 
@media screen and (max-width: 800px){
    
      
    
  
    .nav-links{
        position: fixed;
        background: #EF5F25;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        z-index: 2;
        clip-path: circle(50px at 90% -10% );
        -webkit-clip-path: circle(50px at 90% -10% );
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        font-family: 'Poppins', sans-serif;
    }
    .nav-links.open {
        clip-path: circle(2000px at 90% -10%);
        -webkit-clip-path: circle(2000px at 90% -10%);
        pointer-events: all;
    }
   
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.8s;
    }  
  .nav-links li:nth-child(5){
    transition: all 0.5s ease 0.10s;
    }
    
    .nav-links li a{
        font-size: 25px;
        
    }
    .line{
        width: 20px;
        height: 3px;
        background: black;
        margin: 5px;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -8px);
        transform: rotate(45deg) translate(-5px, -8px);
    }

    nav{
        position: relative;
    }
    .nav-links li a:hover
    {
        color: white;
        
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 10;
    }
  
}
/* nav style end */


/* contact-page */

.top-sec{
    background-color: #2F303A;
    
}

@media screen and (max-width:864px){
    .heading{
        font-size: 26px;
    }
    .address,.email,.phone,.message{
        font-size: 0.8rem !important;
    }
}

@media screen and (min-width: 866px){
    #contact-button{
        margin-bottom: 20px!important;
    }
}
@media screen and (max-width:672px){
    .d-flex{
        display: block !important;
        display: block !important;
    }
    .contact-info{
        display: block !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
    }
    #contact-form{
        display: block !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }
    #conatct-button{
        margin-bottom: 20px !important;
    }
    .sec-3-left{
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 0 !important;
        padding-top: 5%;
    }
    .sec-3-right{
        margin: auto !important;
        width: 40%;
        padding-top: 5%;
    }
    .info{
        margin-left: 0 !important;
        text-align: center;
    }
    .message{
        text-align: center;
    }
    .phone{
        display: inline-block;
    }
    .img-2{
        margin: auto;
        justify-content: center;
    }
}
@media screen and (max-width:589px){
    /* .nav-link{
        font-size: 0.9rem !important;
    } */
    /* .reg{
        font-size: 0.9rem !important;
    } */
    .heading{
        font-size: 20px;
    }
}
@media screen and (max-width: 507px){
    .icon{
        height: 20px !important;
        width:20px !important;
    }
    .info{
        width: 100% !important;
        text-align: center;
    }
    .contact-info{
        text-align: center;
        font-size: 0.5rem;
        width: 80% !important;
    }
    #contact-form{
        width: 80% !important;
    }
    .heading-2{
        font-size: 20px !important;
    }
    .form-2{
        width: 80% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .sec-3-right{
        width: 80% !important;
        text-align: center !important;
    }
    .d-flex{
        display: block !important;
    }
}
body > div > div > div.row.text-center > div > h3
{
    font-weight: 200;
}
.underline{
    width: 130px;
    border: 1px solid #EF5F25;
    margin: auto;
}

.contact-info{
    display: inline-block;
    width: 60%;
    margin-top: 5%;
}
#contact-form{
    display: inline-block;
    width: 40%;
    padding-top: 5%;
}
.info{
    margin-left: 20%;
}
.phone-sec{
    padding-bottom: 12px;
    align-items: center;
}
.info-sec-2{
    display: inline-block;
}
.icon{
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
.phone{
    font-family: 'poppins';
    font-size: 0.8rem;
    color: white;
    margin-bottom: 0;
}
.address-sec{
    padding-bottom: 12px;
    align-items: center;
}
.info-sec-3{
    margin-left: 5%;
    display: block;
}
.address{
    font-family: 'Poppins';
    color: white;
    margin-bottom: 0;
    font-size: 0.9rem;
}
.email{
    color: white;
    font-family: 'Poppins';
    font-size: 0.9rem;
}
.message{
    font-family: 'Poppins';
    color: white;
    font-size: 0.9rem;
}
.mail-sec{
    padding-bottom: 12px;
}
.form{
    background-color:#202027;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}
.form-input{
    background-color: #202027;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 10px;
}
.form-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-right: none;
    font-family: 'Poppins';
    font-size: 0.6rem;
    margin-bottom: 30px;
}
#contact-button{
    background-color: #EF5F25;
    text-align: center;
    color: #212529;
}
#contact-button:hover
{
    background-color: #e94200   
}

.sec-2{
    padding-bottom: 10%;
}
.sec-3{
    background-color: #202027;
}
.sec-3-left{
    width: 60%;
    margin-top: 5%;
}
.sec-3-right{
    width: 40%;
    margin-top: 5%;
    margin-right: 5%;
}
.heading-2{
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}
.img-2{
    width: 150px;
    height: auto;
}
.form-input-2{
    border-right: none;
    font-family: 'Poppins';
    font-size: 0.6rem;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.form-2{
    text-align: center;
}
.heading-3{
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 100;
}

/* endof contact */




/* footer style-start */
section#contact {
    background-color: #181920cf;
   
  }
  
  section#contact #forms {
    color: white;
  }
  
  section#contact #forms #media p {
    float: left;
  }
  
  section#contact #forms .col-lg-6 {
    height: 70%;
    font-family: "Poppins";
  }
  
  section#contact #forms .col-lg-6 h2, section#contact #forms .col-lg-6 p, section#contact #forms .col-lg-6 label {
    font-weight: 300;
  }
  
  section#contact #footer .col-lg-3 h5, section#contact #footer .col-lg-3 p {
    font-weight: 300;
    font-size: 13px;
    line-height: 40px;
    margin-bottom: 0;
    color: white;
  }
  
  section#contact #footer .col-lg-3 h5:hover, section#contact #footer .col-lg-3 p:hover {
    -webkit-text-decoration: underline white solid;
            text-decoration: underline white solid;
  }
  
  section#contact #footer .col-lg-3 .contact-line {
    float: left;
  }
  
  section#contact #footer .col-lg-3 .contact-line i {
    color: white;
  }
  
  form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
  
  form .btn-warning {
    background-color: #EF5F25;
    border: 0;
    border-radius: 0;
    width: 100%;
    text-align: center;
  }
  form .btn-warning:hover
  {
    background-color: #e94200;
    
  }
  .copyright {
    text-align: center;
    font-family: 'Muli', serif;
    font-style: normal;
    font-size: 14px;
  }
  
  @media (max-width: 830px) {
    .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .rem {
      display: none;
    }
  }
  @media (max-width: 600px) {
    #footer > div.col.col-lg-3.logo > div > div:nth-child(1) > img,#media p
    {
      position: relative;
      left: 20%;
    }
  }

  @media (max-width: 600px)
  {
    #forms  h2
    {
      font-size: 14px;
    }
    
  }
  /* footer style-end */
  @media (min-width:331px) and (max-width:418px)
  {
    body > nav > a.brand > h1
    {
      font-size: 2rem;
    }
  
    
  }
  @media (max-width:330px)
  {
    body > nav > a.brand > h1
    {
      font-size: 24px;
    }
    
  }
  @media (max-width:420px)
{
  #download > a > img
  {
    display: none;
  }
  
  
}
#forms > div > div.col-12.col-md-12.col-lg-6.mb-md-5 > a
{
  color: white;

}