html, body{

  height: 100%;
  background-color: #000;
}
body{
  padding-top:1em;
}
h1.heading{
  color:#fff;
  text-align: center;
  position: relative;
  margin-bottom:2em;

}

.red-border {
    position: absolute;
    border-bottom: 3px solid red;
    display: inline-block;
    width: 101px;
    left: 46%;
}


.content{
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width:80%;
  margin: 0 auto;
}
.image{
  width: 45%;
  background-image: url('Capture.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 80vh;
}
.description {
    padding-top: 5em;
    width: 45%;
    color: #fff;
    font-size: 19px;
    text-align: left;
  }
