body{
    margin: 0 !important;
}
.top-sec{
    background-color: #2F303A;
}
.navigation-bar{
    padding-top: 2%;
}
.regal-logo{
    display: inline-block;
    color: white;
    padding: .5rem 1rem;
    margin-left: 5%;
}
.reg{
    font-family: 'Poppins'!important;
    display: inline-block;
}
.nav-list{
    display: inline-block;
    float: right;
    margin-right: 5%;
}
.nav-item{
    font-family: 'poppins'!important;
    color: white;
}
.nav-link{
    color: white;
}
.logo{
    display: inline-block;
    height: 34px;
    margin-right: 10px;
}
@media screen and (max-width:864px){
    .heading{
        font-size: 26px;
    }
    .address,.email,.phone,.message{
        font-size: 0.8rem !important;
    }
}

@media screen and (min-width: 866px){
    .btn{
        margin-bottom: 20px!important;
    }
}
@media screen and (max-width:672px){
    .d-flex{
        display: block !important;
        display: block !important;
    }
    .contact-info{
        display: block !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
    }
    .form{
        display: block !important;
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }
    .btn{
        margin-bottom: 20px !important;
    }
    .sec-3-left{
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 0 !important;
        padding-top: 5%;
    }
    .sec-3-right{
        margin: auto !important;
        width: 40%;
        padding-top: 5%;
    }
    .info{
        margin-left: 0 !important;
        text-align: center;
    }
    .message{
        text-align: center;
    }
    .phone{
        display: inline-block;
    }
    .img-2{
        margin: auto;
        justify-content: center;
    }
}
@media screen and (max-width:589px){
    .nav-link{
        font-size: 0.9rem !important;
    }
    .reg{
        font-size: 0.9rem !important;
    }
    .heading{
        font-size: 20px;
    }
}
@media screen and (max-width: 507px){
    .icon{
        height: 20px !important;
        width:20px !important;
    }
    .info{
        width: 100% !important;
        text-align: center;
    }
    .contact-info{
        text-align: center;
        font-size: 0.5rem;
        width: 80% !important;
    }
    .form{
        width: 80% !important;
    }
    .heading-2{
        font-size: 20px !important;
    }
    .form-2{
        width: 80% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .sec-3-right{
        width: 80% !important;
        text-align: center !important;
    }
    .d-flex{
        display: block !important;
    }
}
.heading{
    color: white;
    font-family: 'Poppins';
    text-align: center;
    font-weight: 300;
    text-decoration: underline #EF5F25;
}
.contact-info{
    display: inline-block;
    width: 60%;
    margin-top: 5%;
}
.form{
    display: inline-block;
    width: 40%;
    padding-top: 5%;
}
.info{
    margin-left: 20%;
}
.phone-sec{
    padding-bottom: 12px;
    align-items: center;
}
.info-sec-2{
    display: inline-block;
}
.icon{
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
.phone{
    font-family: 'poppins';
    font-size: 0.8rem;
    color: white;
    margin-bottom: 0;
}
.address-sec{
    padding-bottom: 12px;
    align-items: center;
}
.info-sec-3{
    margin-left: 5%;
    display: block;
}
.address{
    font-family: 'Poppins';
    color: white;
    margin-bottom: 0;
    font-size: 0.9rem;
}
.email{
    color: white;
    font-family: 'Poppins';
    font-size: 0.9rem;
}
.message{
    font-family: 'Poppins';
    color: white;
    font-size: 0.9rem;
}
.mail-sec{
    padding-bottom: 12px;
}
.form{
    background-color:#202027;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}
input{
    background-color: #202027;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 10px;
}
.form-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-right: none;
    font-family: 'Poppins';
    font-size: 0.6rem;
    margin-bottom: 30px;
}
.btn{
    background-color: #EF5F25 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
    padding-bottom: 2%;
}
.send-btn{
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 0;
}
.sec-2{
    padding-bottom: 10%;
}
.sec-3{
    background-color: #202027;
}
.sec-3-left{
    width: 60%;
    margin-top: 5%;
}
.sec-3-right{
    width: 40%;
    margin-top: 5%;
    margin-right: 5%;
}
.heading-2{
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}
.img-2{
    width: 150px;
    height: auto;
}
.form-input-2{
    border-right: none;
    font-family: 'Poppins';
    font-size: 0.6rem;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.form-2{
    text-align: center;
}
.heading-3{
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 100;
}